@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@font-face {
  font-family: "FreightBig";
  src: url("./assets/freight-big-medium.otf");
}

@font-face {
  font-family: "SAA Series FD";
  src: url("./assets/saa-series-fd.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width:100%;
  overflow-x:hidden;
}

:root {
  --ultramarine: #1400a2;
  --ultramarine-dark: #100082;
  --peru: #c48544;
  --appleblossom: #b05045;
  --cherokee: #f5c788;
  --eden: #286c5c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.75rem;
  line-height: 1.6;
  font-family: "Libre Baskerville", serif;
}

.header {
  background: #fca786;
  background-image: url(./assets/header-1.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

img {
  margin-top: 5%;
  margin-left: 15%;
  width: 70vw;
}

.go-arrow {
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.go-arrow:hover {
  margin-left: 1rem;
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
  -moz-transition: all 0.3 ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.5s ease-in-out;
  -ms-transition: all 0.3 ease-in-out;
}


.down-arrow {
  width: 1.8rem;
  height: 2.8rem;
}

.scroll-btn {
  /* float: left; */
  width: auto;
  bottom: 48px;
  top: 87%;
  left: 49%;
  -webkit-animation: bounce 2s cubic-bezier(0.11, 0.4, 0.85, 1.04) infinite;
  animation: bounce 2s cubic-bezier(0.11, 0.4, 0.85, 1.04) infinite;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 42px;
  position: absolute;
}

@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

blockquote {
  font-size: 0.875rem;
  font-family: "SAA Series FD";
  font-weight: 100;
  letter-spacing: 0.03rem;
  color: var(--peru);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/*  */
.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 3rem;
  font-family: "FreightBig";
  color: var(--appleblossom);
  margin-bottom: 1rem;
}

/*  */
.container-1 {
  height: 100vh;
}

.container-2 {
  height: 100vh;
}

.meal-wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 20px;
  background: #fff;
  text-align: center;
}

.meal-search {
  margin: 3rem 0;
}

.meal-search cite {
  font-size: 1rem;
}
.meal-search-box {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.search-control,
.search-btn {
  margin: 3rem 3rem 3rem 3rem;
  width: 100%;
  border: 0px;
  border-bottom: 0.063rem solid var(--ultramarine);
  color: var(--ultramarine);
}

.search-control {
  font-family: "SAA Series FD";
  letter-spacing: 0.069rem;
  font-size: 0.75rem;
  outline: 0;
  min-width: 12.5rem;
  -webkit-transition: border-color 0.15s ease;
  -o-transition: border-color 0.15s ease;
  transition: border-color 0.15s ease;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  background-image: url(./assets/d-search.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 0.625rem;
}

.search-control::placeholder {
  color: var(--ultramarine);
  font-family: "SAA Series FD";
  letter-spacing: 0.069rem;
  font-size: 0.75rem;
  text-align: left;
  opacity: 0.8;
}

.search-control:hover {
  border-bottom: 0.063rem solid var(--ultramarine-dark);
  color: var(--ultramarine-dark);
}

.search-control:focus {
  background-size: 0px;
}

.search-btn {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
  color: var(--ultramarine);
  background-color: #fff;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  color: #fff;
}

.meal-result {
  margin-top: 4rem;
}

.no-result {
  margin-top: 4rem;
}

#meal {
  margin: 3.5rem 0;
      z-index: 1;
}
.meal-item {
  overflow: hidden;
  padding: 2rem 0;
      z-index: 1;
}

.meal-img img {
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 1.5rem;
      z-index: 1;
}

.meal-img img:hover {
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
      z-index: 1;
}

.meal-name {
  padding: 1.5rem 0.5rem;
  cursor: pointer;
}

.meal-name h3 {
  font-size: 1.4rem;
  color: peru;
}

.recipe-btn {
  text-decoration: none;
  color: var(--ultramarine);
  text-transform: uppercase;
  font-family: "SAA Series FD";
  letter-spacing: 0.069rem;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  display: block;
  width: 10.938rem;
  margin: 1rem auto;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  text-decoration: none;
}

/* meal details */
.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: var(--cherokee);
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
  z-index: 2;
}

.meal-details::-webkit-scrollbar {
  width: 0.625rem;
}

.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* js related */
.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 2rem;
  max-height: 80vh;
}

.meal-details-content p:not(.recipe-category) {
  padding: 1rem 0;
}

.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1rem;
  color: var(--eden);
  background: var(--cherokee);
  border: none;
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe-title {
  letter-spacing: 0.063rem;
  padding-bottom: 1rem;
  color: var(--eden);
  text-transform: uppercase;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--appleblossom);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--appleblossom);
  display: inline-block;
  padding: 0.3rem 0.5rem;
}

.recipe-instruct {
  font-family: "SAA Series FD";
  letter-spacing: 0.03rem;
  color: var(--eden);
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.recipe-link {
  margin: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "SAA Series FD";
  letter-spacing: 0.069rem;
}

.recipe-link a {
  color: var(--appleblossom);
  font-size: 1.2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

/*  */
.notFound {
  grid-template-columns: 1fr !important;
  color: var(--ultramarine);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 820px) {


  .down-arrow {
    width: 0.9rem;
    height: 1.4rem;
    z-index: 0;
  }

  .title {
    font-size: 1.5rem !important;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .no-result p {
    font-size: 1rem;
}

}

@media screen and (max-width: 414px) {
  .header {
    background-image: url('./assets/header-2.jpg') !important;
    background-size: 390px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
}
  }

 .meal-img img {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .meal-name a {
    font-size: 0.7rem;
  } 

  .meal-name h3 {
    font-size: 1.2rem;
  }

  .search-control {
    font-size: 1rem;
    margin: 1rem 0.5rem 1rem 0.5rem !important;
  }

  .search-control:focus {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -ms-user-select: none;
     user-select: none;
  }

  .search-control::placeholder {
    font-size: 0.82rem;
  }
}

@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Scroll-into-view animation */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);s
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Letters animation */

.winner-wave {
  float: left;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.winner-wave em {
  display: inline-block;
  -webkit-animation: wave-text 3.1s ease-in-out infinite;
  animation: wave-text 3.1s ease-in-out infinite;
  font-style: normal;
  font-style: 9rem;
  letter-spacing: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.winner-wave em:nth-of-type(1) {
  -webkit-animation-delay: 40ms;
  animation-delay: 40ms;
}
.winner-wave em:nth-of-type(2) {
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.winner-wave em:nth-of-type(3) {
  -webkit-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
.winner-wave em:nth-of-type(4) {
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.winner-wave em:nth-of-type(5) {
  -webkit-animation-delay: 0.34s;
  animation-delay: 0.34s;
}
.winner-wave em:nth-of-type(6) {
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s;
}
.winner-wave em:nth-of-type(7) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.winner-wave em:nth-of-type(8) {
  -webkit-animation-delay: 0.58s;
  animation-delay: 0.58s;
}
.winner-wave em:nth-of-type(9) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
.winner-wave em:nth-of-type(10) {
  -webkit-animation-delay: 0.74s;
  animation-delay: 0.74s;
}
.winner-wave em:nth-of-type(11) {
  -webkit-animation-delay: 0.82s;
  animation-delay: 0.82s;
}
.winner-wave em:nth-of-type(12) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.winner-wave em:nth-of-type(13) {
  -webkit-animation-delay: 0.98s;
  animation-delay: 0.98s;
}
.winner-wave em:nth-of-type(14) {
  -webkit-animation-delay: 1.06s;
  animation-delay: 1.06s;
}
.winner-wave em:nth-of-type(15) {
  -webkit-animation-delay: 1.14s;
  animation-delay: 1.14s;
}
.winner-wave em:nth-of-type(16) {
  -webkit-animation-delay: 1.22s;
  animation-delay: 1.22s;
}
.winner-wave em:nth-of-type(17) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.winner-wave em:nth-of-type(18) {
  -webkit-animation-delay: 1.38s;
  animation-delay: 1.38s;
}
.winner-wave em:nth-of-type(19) {
  -webkit-animation-delay: 1.46s;
  animation-delay: 1.46s;
}
.winner-wave em:nth-of-type(20) {
  -webkit-animation-delay: 1.54s;
  animation-delay: 1.54s;
}
.winner-wave em:nth-of-type(21) {
  -webkit-animation-delay: 1.62s;
  animation-delay: 1.62s;
}
.winner-wave em:nth-of-type(22) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.winner-wave em:nth-of-type(23) {
  -webkit-animation-delay: 1.78s;
  animation-delay: 1.78s;
}
.winner-wave em:nth-of-type(24) {
  -webkit-animation-delay: 1.86s;
  animation-delay: 1.86s;
}
.winner-wave em:nth-of-type(25) {
  -webkit-animation-delay: 1.94s;
  animation-delay: 1.94s;
}
.winner-wave em:nth-of-type(26) {
  -webkit-animation-delay: 2.02s;
  animation-delay: 2.02s;
}
.winner-wave em:nth-of-type(27) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.winner-wave em:nth-of-type(28) {
  -webkit-animation-delay: 2.18s;
  animation-delay: 2.18s;
}
.winner-wave em:nth-of-type(29) {
  -webkit-animation-delay: 2.26s;
  animation-delay: 2.26s;
}
.winner-wave em:nth-of-type(30) {
  -webkit-animation-delay: 2.34s;
  animation-delay: 2.34s;
}
.winner-wave em:nth-of-type(31) {
  -webkit-animation-delay: 2.42s;
  animation-delay: 2.42s;
}
.winner-wave em:nth-of-type(32) {
  -webkit-animation-delay: 2.50s;
  animation-delay: 2.50s;
}
.winner-wave em:nth-of-type(33) {
  -webkit-animation-delay: 2.58s;
  animation-delay: 2.58s;
}
.winner-wave em:nth-of-type(34) {
  -webkit-animation-delay: 2.66s;
  animation-delay: 2.66s;
}
.winner-wave em:nth-of-type(35) {
  -webkit-animation-delay: 2.74s;
  animation-delay: 2.74s;
}
.winner-wave em:nth-of-type(36) {
  -webkit-animation-delay: 2.82s;
  animation-delay: 2.82s;
}
.winner-wave em:nth-of-type(37) {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.winner-wave em:nth-of-type(38) {
  -webkit-animation-delay: 2.98s;
  animation-delay: 2.98s;
}
.winner-wave em:nth-of-type(39) {
  -webkit-animation-delay: 3.06s;
  animation-delay: 3.06s;
}
.winner-wave em:nth-of-type(40) {
  -webkit-animation-delay: 3.14s;
  animation-delay: 3.14s;
}
.winner-wave em:nth-of-type(40) {
  -webkit-animation-delay: 3.22s;
  animation-delay: 3.22s;
}
.winner-wave em:nth-of-type(41) {
  -webkit-animation-delay: 3.30s;
  animation-delay: 3.30s;
}



@-webkit-keyframes wave-text {
  00% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wave-text {
  00% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}